@{ ViewBag.Title = "Kontakt"; }
<h2>@ViewBag.Title.</h2>


<address>
	Tulge Trallituba

	<p>
		Asume Tallinnas A.H. Tammsaare tee. 137, II korrus
		(Tammsaare tee Mustamäe tee ja Kadaka tee vaheline lõik, Olerexi vastas. Tammsaare tee pool on kauplus MAXIMA XX)
		<br />
		Parkida saab otse Trallituba uste juures akende all. Hoones on tasuta parkimine!
		<br />
		Lähim ühistransport:
		<br />
		Wilde tee peatus. Szolnok (autorid 10, 13, 20, 20a, 28, 61, 24 ja 24a)
		Mustamae tee peatus. Tammsaare (autorid 9, 26, 26a, 61 trol.1, 5)
		Peatus Tammsaare tee bussis. 12, 13
	</p>
	<br />
	<abbr title="Phone">P: +37258473836</abbr>

</address>
<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1355.1781153278532!2d24.673557106065097!3d59.40850562030148!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4692945694f82b45%3A0x16c3a00418d2eb37!2sA.%20H.%20Tammsaare%20tee%20137%2C%2012917%20Tallinn!5e0!3m2!1set!2see!4v1646123695187!5m2!1set!2see" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>

<address>
	<strong>Toetus :</strong>   <a href="mailto:artem1223148@gmail.com">artem1223148@gmail.com</a><br />
</address>